!!!! 
%html
  %head
    %title WorkersMemorial
    = csrf_meta_tags
    = csp_meta_tag

    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-11649P6KY7"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-11649P6KY7');
  %body
    = yield
