!!!! 
%html{ lang: "ko" }
  %head
    %title 4.28 산업재해 노동자 추모의 날
    %meta{content: "4월 28일은 산업재해로 사망한 노동자 추모의 날입니다. 하루하루 버티고 있는 사람이라면, 한번쯤 보았던 아픈 뉴스기사들과 무겁고 어두운 이야기를 모았습니다. 오늘 만큼은 일과 당신의 시간을 멈추고, 한번 더 이해하고, 한번 더 공감해주세요.", name: "description"}/
    %meta{content: "#{request.url}", property: "og:url"}/
    %meta{content: "코드포코리아 산업재해 프로젝트", name: "author"}/
    %meta{content: "산업재해, 추모, 시빅해킹", name: "keywords"}/
    %meta{content: "산업재해 노동자 추모의 날", property: "og:title"}/
    %meta{content: "4월 28일은 산업재해로 사망한 노동자 추모의 날입니다. 하루하루 버티고 있는 사람이라면, 한번쯤 보았던 아픈 뉴스기사들과 무겁고 어두운 이야기를 모았습니다. 오늘 만큼은 일과 당신의 시간을 멈추고, 한번 더 이해하고, 한번 더 공감해주세요.", property: "og:description"}/
    %meta{content: asset_url("header.png"), property: "og:image"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "summary_large_image", name: "twitter:card"}/
    %meta{content: "#{request.url}", property: "twitter:url"}/
    %meta{content: "산업재해 노동자 추모의 날", name: "twitter:title"}/
    %meta{content: "4월 28일은 산업재해로 사망한 노동자 추모의 날입니다. 하루하루 버티고 있는 사람이라면, 한번쯤 보았던 아픈 뉴스기사들과 무겁고 어두운 이야기를 모았습니다. 오늘 만큼은 일과 당신의 시간을 멈추고, 한번 더 이해하고, 한번 더 공감해주세요.", name: "twitter:description"}/
    %meta{content: asset_url("header.png"), name: "twitter:image"}/
    = csrf_meta_tags
    = csp_meta_tag

    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-11649P6KY7"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-11649P6KY7');
  %body
    = yield
